<!DOCTYPE html>
<html>
<head>
	<title>Percetron | Certificates</title>
	include includes/head.pug
</head>
<body>
	<div class="d-flex" id="wrapper">
		include includes/sidebar.pug
		<div id="page-content-wrapper">
			include includes/navbar.pug
			<div class="container m-4">
				<div class="row">
					<p class="panelHead mb-3">Certificates</p>
				</div>
				<div class="row p-2">
					<table class="ml-2 table table-dark table-hover" id="main_table">
						<thead>
							<tr>
								<th>Common Name</th>
								<th>Org Name</th>
								<th>Locality Name</th>
								<th>State Name</th>
								<th>Country Name</th>
							</tr>
						</thead>
						<tbody>
							if certificates.length > 0
								each cert in certificates
									<tr>
										td= cert.common_name
										td= cert.org_name
										td= cert.locality_name
										td= cert.state_name
										td= cert.country_name
									</tr>
							else
								<tr>
									<td>No certificates found</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>