<!DOCTYPE html>
<html>
<head>
	<title>Percetron | Hosts</title>
	include includes/head.pug
</head>
<body>
	<div class="d-flex" id="wrapper">
		include includes/sidebar.pug
		<div id="page-content-wrapper">
			include includes/navbar.pug
			<div class="container m-4">
				<div class="row">
					<p class="panelHead mb-3">Hosts</p>
				</div>
				<div class="row p-2">
					<table class="ml-2 table table-sm table-dark table-hover" id="main_table">
						<thead>
							<tr>
								<th>IP</th>
								<th>Latitude</th>
								<th>Longtitude</th>
								<th>Country</th>
								<th>Country Code</th>
								<th>Time Zone</th>
								<th>Zip Code</th>
								<th>City Name</th>
								<th>Region Name</th>
								<th>Continent</th>
								<th>Continent Code</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							if hosts.length > 0
								each host in hosts
									tr
										td= host.ipAddress
										td= host.latitude
										td= host.longitude
										td= host.countryName.slice(0, 15) + (host.countryName.length > 15 ? '...' : '')
										td= host.countryCode
										td= host.timeZone
										td= host.zipCode
										td= host.cityName.slice(0, 15) + (host.cityName.length > 15 ? '...' : '')
										td= host.regionName.slice(0, 15) + (host.regionName.length > 15 ? '...' : '')
										td= host.continent.slice(0, 15) + (host.continent.length > 15 ? '...' : '')
										td= host.continentCode
										td(id="status-" + host.ipAddress)
											button(class="btn successBtn" onclick="loadStatus('" + host.ipAddress + "')") Load <i class="las la-redo-alt"></i></button>
							else
								<tr>
									<td>No hosts found</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>