<!DOCTYPE html>
<html>
<head>
	<title>Percetron | Management</title>
	include includes/head.pug
</head>
<body>
	<div class="d-flex" id="wrapper">
		include includes/sidebar.pug
		<div id="page-content-wrapper">
			include includes/navbar.pug
			<div class="container m-4">
				<div class="row">
					<p class="panelHead mb-3">Manage Certificates</p>
					<div class="col mt-1 mb-2">
						button(class="btn successBtn" data-bs-toggle="modal" data-bs-target="#createModal") Add <i class="las la-plus"></i>
						a(class="btn primaryBtn ms-2" href="/panel/management/dl-certs") Download All <i class="las la-angle-double-down"></i>
					</div>
				</div>
				<div class="row p-2">
					<table class="ml-2 table table-dark table-hover" id="main_table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Common name</th>
								<th>Org name</th>
								<th>Locality name</th>
								<th>State name</th>
								<th>Country name</th>
							</tr>
						</thead>
						<tbody>
							if certificates.length > 0
								each cert in certificates
									<tr>
										td= cert.id
										td= cert.common_name
										td= cert.org_name
										td= cert.locality_name
										td= cert.state_name
										td= cert.country_name
									</tr>
							else
								<tr>
									<td>No certificates found</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="createModal">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="card modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Certificate</h5>
					<button type="button" class="btn primaryBtn" data-bs-dismiss="modal">
						<i class="las la-times"></i>
					</button>
				</div>
				<form action="/panel/management/addcert" method="post">
					<div class="modal-body">
						<h3>Certificate</h3>
						<hr/>
						<textarea class="form-control" name="pem" required></textarea>
						<h3 class="mt-4">Public Key</h3>
						<hr/>
						<textarea class="form-control" name="pubKey" required></textarea>
						<h3 class="mt-4">Private Key</h3>
						<hr/>
						<textarea class="form-control mb-3" name="privKey" required></textarea>
						<span><i>*input must be in PEM format</i></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn dangerBtn" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn successBtn">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>