<!DOCTYPE html>
<html>
<head>
	<title>Percetron | Dashboard</title>
	include includes/head.pug
</head>
<body>
	<div class="d-flex" id="wrapper">
		include includes/sidebar.pug
		<div id="page-content-wrapper">
			include includes/navbar.pug
			<div class="container m-4">
				<div class="row">
					<div class="col-md">
						<p class="panelHead mb-3">Dashboard</p>
						<span class="text-white">Welcome back, #{userData.username}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<form class="form-group input-group mt-2" action="/panel/search" method="post">
							<div class="input-group-prepend">
								<select class="h-100" name="field" id="fieldSelect">
									<option value="0">Common Name</option>
									<option value="1">Org Name</option>
									<option value="2">Locality Name</option>
									<option value="3">State Name</option>
									<option value="4">Country Name</option>
								</select>
							</div>
							<input class="form-control" type="text" name="searchTerm" required>
							<div class="input-group-append">
								<button type="submit" class="btn primaryBtn h-100">Submit</button>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						p.mt-3.text-white Hosts: #{hosts}
						if hosts > 0
							<div id="network"></div>
						else
							span.text-white No hosts found
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/d3.v6.js"></script>
	script.
		window.onload = () => {
			let data = !{connections};

			const links = [];
			const uniqueNodes = new Map();

			data.forEach(item => {
				if (!uniqueNodes.has(item.ipAddress)) {
					uniqueNodes.set(item.ipAddress, { id: item.ipAddress, name: item.ipAddress, group: 1 });
				}
				item.certificates.forEach(cert => {
					if (!uniqueNodes.has(cert.common_name)) {
						uniqueNodes.set(cert.common_name, { id: cert.common_name, name: cert.common_name, group: 2 });
					}
					links.push({ source: item.ipAddress, target: cert.common_name });
				});
			});

			const nodes = Array.from(uniqueNodes.values());

			const svg = d3.select("#network").append("svg")
				.attr("class", "w-100 h-100");

			const simulation = d3.forceSimulation(nodes)
				.force("link", d3.forceLink(links).id(d => d.id))
				.force("charge", d3.forceManyBody().strength(-50))
				.force("center", d3.forceCenter(400, 300));

			const zoom = d3.zoom()
				.scaleExtent([0.1, 10])
				.on("zoom", zoomed);

			svg.call(zoom);

			const container = svg.append("g");

			const link = container.selectAll("line")
				.data(links)
				.enter().append("line")
				.attr("stroke", "#aaa")
				.attr("stroke-width", 1);

			const node = container.selectAll("g")
				.data(nodes)
				.enter().append("g")
				.call(d3.drag()
					.on("start", dragstarted)
					.on("drag", dragged)
					.on("end", dragended));

			node.append("circle")
				.attr("r", 8)
				.attr("fill", d => (d.group === 1) ? "rgb(133, 40, 40)" : "rgb(37, 57, 128)");

			node.append("text")
				.attr("dx", 12)
				.attr("dy", ".35em")
				.style("fill", "white")
				.text(d => d.name);

			simulation.on("tick", () => {
				link
					.attr("x1", d => d.source.x)
					.attr("y1", d => d.source.y)
					.attr("x2", d => d.target.x)
					.attr("y2", d => d.target.y);

				node
					.attr("transform", d => `translate(${d.x},${d.y})`);
			});

			function zoomed(event) {
				container.attr("transform", event.transform);
			}

			function dragstarted(event, d) {
				if (!event.active) simulation.alphaTarget(0.3).restart();
				d.fx = d.x;
				d.fy = d.y;
			}

			function dragged(event, d) {
				d.fx = event.x;
				d.fy = event.y;
			}

			function dragended(event, d) {
				if (!event.active) simulation.alphaTarget(0);
				d.fx = null;
				d.fy = null;
			}
		}
</body>
</html>